.vs/UBS/v15/.suo
.vs/UBS/v15/Server/sqlite3/storage.ide-shm
UBS/bin/Debug/UBS.pdb
UBS/obj/Debug/UBS.csproj.CoreCompileInputs.cache
UBS/obj/Debug/UBS.csproj.FileListAbsolute.txt
UBS/obj/Debug/UBS.csproj.GenerateResource.cache
UBS/obj/Debug/UBS.exe
UBS/obj/Debug/UBS.pdb
UBS/obj/Debug/UBS.csprojResolveAssemblyReference.cache